<div class="container">
    <div class="row">
        <div class="col-8"></div>
        <div class="col-2">
            <a class="btn btn-link text-right" href="{{ url_for("problem_list") }}">Problem List</a>&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col">
            <a class="btn btn-link text-right" href="{{ url_for("usr_status", id=current_user.username) }}">{{username}}</a>
        </div>
        <div class="col">
            <a class="btn btn-link text-right" href="{{ url_for("logout") }}">Logout</a>
        </div>
    </div>
    <div class="row">
        <br>
    </div>
</div>