{% extends 'base.html' %}

{% block title %}Problem Status{% endblock %}

{% block content %}
<p align="center"><font size="4" color="#333399">Problem Status List</font></p>
<table cellspacing="0" cellpadding="0" width="100%" border="1" class="a" bordercolor="#FFFFFF">
    <tbody><tr class="in"><td width="8%">Run ID</td><td width="10%">User</td><td width="6%">Problem</td><td width="20%">Result</td><td width="7%">Memory</td><td width="7%">Time</td><td width="7%">Language</td><td width="7%">Code Length</td><td width="17%">Submit Time</td></tr>
    {% for attempt in attempts %}
    <tr align="center"><td>{{attempt.run_id}}</td><td><a href="user_status?id={{attempt.user_id}}">{{attempt.user_id}}</a></td><td><a href="problem?id={{attempt.problem_id}}">{{attempt.problem_id}}</a></td><td><font color="blue">{{attempt.result}}</font></td><td>{{attempt.memory}}</td><td>{{attempt.time}}</td><td>{{attempt.language}}</td><td>{{attempt.code_length}}</td><td>{{attempt.submit_time}}</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}