{% extends 'base.html' %}

{% block title %}Problem List{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Problem List</h1>
    <table class="table table-hover text-center">
        <thead class="thead-light">
            <tr>
                <th width="10%">ID</th>
                <th width="63%">Title</th>
                <th width="15%">Ratio(AC/submit)</th>
                <th width="12%">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
            <tr>
                <td>{{problem.id}}</td><td align="center"><a lang="en-US" href="problem?id={{problem.id}}">{{problem.name}}</a></td><td>{{problem.ratio}}%(<a href="problem_status?id={{problem.id}}">{{problem.ac_num}}</a>/<a href="problem_status?id={{problem.id}}">{{problem.submit_num}}</a>)</td><td>{{problem.time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}