{% extends 'base.html' %}

{% block title %}Submit{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Submit Your Solution Via Web</h1><br><br>
    <form method="POST" action="{{ url_for("submit", id=problem_id) }}">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="form-group">
                    Problem ID:&nbsp;
                    <input type="text" class="form-control" name="problem_id" value="{{problem_id}}" size="20" accesskey="p">
                </div>
                <div class="form-group">
                    Language:&nbsp;
                    <select class="form-control" size="1" name="language" accesskey="l">
                        <option value="0">G++</option>
                        <option value="1" selected="">GCC</option>
                    </select><br>
                </div>
                <div class="form-group">
                    Source: <br>
                    <textarea class="form-control" rows="20" name="source" id="source" cols="40" accesskey="c"></textarea><br>
                </div>
                <div class="form-group">
                    <input class="form-control" type="submit" value="Submit" name="submit" accesskey="s">
                    <input class="form-control" type="reset" value="Reset" name="reset">
                    <input class="form-control" type="hidden" value="1" name="encoded">
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    {{ form.csrf_token }}
    </form>
</div>
{% endblock %}