{% extends 'base.html' %}

{% block title %}User Status{% endblock %}

{% block content %}
<div class="container">
	<h1 class="text-center">User Status</h1>
	<table class="table table-hover text-center">
        <thead class="thead-light">
			<tr>
				<th width="8%">
					Run ID
				</th>
				<th width="10%">
					User
				</th>
				<th width="6%">
					Problem
				</th>
				<th width="20%">
					Result
				</th>
				<th width="7%">
					Memory
				</th>
				<th width="7%">
					Time
				</th>
				<th width="7%">
					Language
				</th>
				<th width="7%">
					Code Length
				</th>
				<th width="17%">
					Submit Time
				</th>
			</tr>
		</thead>
		<tbody>
			{% for attempt in attempts %}
			<tr>
				<td>
					{{attempt.run_id}}
				</td>
				<td>
					<a href="user_status?id={{attempt.user_id}}">
						{{attempt.user_id}}
					</a>
				</td>
				<td>
					<a href="problem?id={{attempt.problem_id}}">
						{{attempt.problem_id}}
					</a>
				</td>
				<td>
					{{attempt.result}}
				</td>
				<td>
					{{attempt.memory}}
				</td>
				<td>
					{{attempt.time}}
				</td>
				<td>
					{% if attempt.user_id == current_user.username %}
					<a href="show_source?run_id={{attempt.run_id}}" target="_blank">
						{{attempt.language}}
					</a>
					{% else %}
						{{attempt.language}}
					{% endif %}
				</td>
				<td>
					{{attempt.code_length}}
				</td>
				<td>
					{{attempt.submit_time}}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}